@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
    background-color:  rgb(250 204 21);
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;

}

html,body{
    background-color: #f2f2f2;
}